@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-gray-800 dark:bg-gray-900 dark:text-gray-200;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
  }
}

@layer components {
  .input-style {
    @apply block w-full px-3 py-2 border border-gray-300 dark:border-gray-600 rounded-md shadow-sm
           placeholder-gray-400 dark:placeholder-gray-500 
           focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent
           bg-white dark:bg-gray-800 text-gray-900 dark:text-white;
  }
}